:root {
  --cream: #fff1c9;
  --logo-orange: #fc8c12;
  --mustard: #fabf14;
  --off-white: #f6f6f6;
}

body {
  background-color: var(--cream);
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Special Elite, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Special Elite, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

a {
  color: var(--logo-orange);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

a:hover {
  color: var(--mustard);
}

.section {
  background-image: url('../images/sparkle-background-compressed-min.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.section.about, .section.projects {
  height: 60vh;
}

.section.project-page {
  background-image: url('../images/sparkle-faded-v2-min.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.navbar {
  background-color: #0000;
  height: 20%;
}

.hero-wrapper {
  flex-flow: column;
  height: 100%;
  display: flex;
}

.hero-wrapper.project-page {
  height: auto;
}

.container {
  background-color: #00000080;
  max-width: 100%;
  height: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
}

.brand {
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}

.nav-link {
  color: var(--off-white);
  letter-spacing: .1em;
  align-self: center;
  font-size: 15px;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--cream);
  font-weight: 700;
}

.nav-link.cta {
  color: var(--mustard);
}

.nav-link.cta:hover {
  color: var(--cream);
}

.nav-link.cta.lcsh, .nav-link.project {
  padding-bottom: 0;
}

.display-heading {
  color: var(--cream);
  mix-blend-mode: normal;
  background-color: #00000094;
  padding: 40px;
  font-size: 68px;
  font-weight: 400;
}

.display-heading.project-page {
  color: var(--mustard);
  text-align: center;
  background-color: #0000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  transform: rotate(-2deg);
}

.display-heading.project-page.lcs.new-font {
  font-family: Bebas Neue, sans-serif;
}

.hero-content-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 20px;
  display: flex;
}

.hero-image-container {
  justify-content: center;
  align-items: center;
  width: 50%;
  display: flex;
}

.hero-caption {
  color: var(--cream);
  background-color: #00000080;
  margin-top: 24px;
  padding: 16px;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
}

.hero-caption-container {
  width: 50%;
  margin-top: 30px;
}

.arts-council-logo-div {
  background-color: #fff1c93d;
  width: 30%;
}

.arts-council-logo-spacer-div {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
}

.hero-heading-div {
  justify-content: center;
  align-items: center;
  width: 50%;
  display: flex;
}

.hero-heading-div.get-in-touch {
  width: 70%;
}

.wrapper {
  background-image: linear-gradient(#fff1c980, #fff1c980), url('../images/sparkle-faded-v1-min.png');
  background-position: 0 0, 50% 100%;
  background-repeat: repeat, no-repeat;
  background-size: auto, contain;
  position: relative;
}

.wrapper.projects {
  background-image: url('../images/sparkle-faded-v1-min.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 160px;
}

.wrapper.projects.long {
  background-position: 50% 125%;
  background-size: auto;
}

.wrapper.projects.smol {
  background-size: contain;
}

.wrapper.get-in-touch {
  background-image: none;
  background-position: 0 0;
  margin-bottom: 240px;
}

.about-text-container {
  flex-flow: column;
  margin-left: 10vw;
  margin-right: 10vw;
}

.paragraph {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.body {
  background-color: var(--off-white);
}

.about-text-paragraph-div {
  margin-top: 40px;
}

.about-text-section-div {
  padding-top: 80px;
}

.footer-div {
  background-color: #000c;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10vw;
  display: flex;
}

.footer-logo-div {
  width: 10%;
}

.section-footer {
  margin-top: 0;
}

.h2-background-div {
  opacity: 1;
  background-color: #000000b5;
  width: auto;
  padding: 16px;
  display: inline-block;
  transform: rotate(2deg);
}

.h2-background-div.age-guide {
  margin-top: 40px;
}

.h2-background-div.top-margin {
  margin-top: 45px;
}

.h2-heading {
  color: var(--mustard);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  transform: rotate(-2deg);
}

.h2-heading.accent {
  font-size: 40px;
}

.h2-heading.new-font {
  font-family: Bebas Neue, sans-serif;
}

.h2-heading.subhead {
  color: var(--off-white);
}

.time-to-alchemise-div {
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
  padding-bottom: 160px;
  display: flex;
}

.about-text-container-copy, .projects-container {
  flex-flow: column;
  margin-left: 10vw;
  margin-right: 10vw;
}

.project-section-div {
  padding-top: 160px;
}

.project-section-div.support-us {
  padding-top: 80px;
}

.project-paragraph-div {
  margin-top: 40px;
}

.projects-intro-div {
  padding-top: 80px;
}

.project-caption {
  text-align: center;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.75;
}

.project-thumbnail-div {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: flex;
}

.hero-heading-div-project-page {
  transform-style: preserve-3d;
  background-image: linear-gradient(#000000b3, #000000b3);
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 80px;
  display: block;
  transform: rotateX(2deg)rotateY(0)rotateZ(2deg);
}

.hero-heading-div-project-page.lcs {
  width: 80%;
}

.project-page-section-div.lcs-team {
  margin-top: 80px;
}

.project-page-paragraph-div {
  text-align: left;
  margin-top: 40px;
}

.project-page-paragraph-div.lcs-team {
  margin-top: 80px;
}

.project-page-text {
  text-align: left;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.project-page-text.new-body {
  font-family: Oswald, sans-serif;
}

.back-to-projects-div {
  justify-content: center;
  align-items: flex-start;
  margin-top: 160px;
  padding-bottom: 0;
  display: flex;
}

.back-to-projects-div.top-margin {
  margin-top: 412px;
}

.profile {
  color: #d9a611;
  font-size: 19px;
  font-weight: 600;
}

.profile.hide {
  display: none;
}

.get-in-touch-container {
  flex-flow: column;
  margin-left: 10vw;
  margin-right: 10vw;
}

.get-in-touch-paragraph-div {
  margin-top: 80px;
}

.project-profile-headshot-div {
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.orange {
  color: var(--logo-orange);
}

.orange:hover {
  color: var(--mustard);
}

.insta-link-block {
  align-self: center;
  width: 3%;
  margin-left: -1px;
}

.div-block-2 {
  aspect-ratio: 745 / 471;
  width: 15.2vh;
}

.div-block-3 {
  aspect-ratio: 745 / 471;
  width: 127px;
}

.project-photo-link-block {
  width: 80%;
}

.project-photo-link-block.project-page {
  width: 60%;
}

.top-margin {
  margin-top: 48px;
}

.logo-div-home {
  aspect-ratio: 745 / 471;
  width: 25.3vh;
}

@media screen and (max-width: 991px) {
  .section.project-page {
    height: 450px;
  }

  .nav-link {
    text-align: right;
  }

  .display-heading.get-in-touch {
    font-size: 50px;
  }

  .hero-content-wrapper {
    grid-column-gap: 35px;
    grid-row-gap: 35px;
  }

  .hero-image-container {
    width: 90%;
  }

  .hero-caption {
    font-size: 14px;
  }

  .hero-caption-container {
    width: 80%;
  }

  .menu-button {
    color: var(--mustard);
    margin-top: 30px;
  }

  .menu-button.w--open {
    color: var(--mustard);
    background-color: #0000;
  }

  .nav-menu {
    background-color: #000000d9;
  }

  .hero-heading-div {
    width: 90%;
  }

  .footer-logo-div {
    width: 16%;
  }

  .h2-background-div.accent, .h2-heading.accent {
    text-align: center;
  }

  .hero-heading-div-project-page {
    width: 90%;
  }

  .project-profile-headshot-div {
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    display: flex;
  }

  .insta-link-block {
    width: 6%;
  }
}

@media screen and (max-width: 767px) {
  a {
    font-size: 14px;
  }

  .display-heading.project-page.lcs {
    font-size: 60px;
    line-height: 1.25;
  }

  .display-heading.get-in-touch {
    font-size: 40px;
  }

  .arts-council-logo-div {
    width: 50%;
  }

  .menu-button {
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
  }

  .hero-heading-div.get-in-touch {
    width: 90%;
  }

  .paragraph {
    font-size: 12px;
  }

  .footer-logo-div {
    width: 20%;
  }

  .h2-heading {
    font-size: 28px;
  }

  .h2-heading.accent {
    font-size: 32px;
  }

  .project-paragraph-div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .project-caption {
    font-size: 18px;
  }

  .hero-heading-div-project-page.lcs {
    width: 100%;
  }

  .project-page-paragraph-div {
    margin-left: auto;
    margin-right: auto;
  }

  .project-page-text {
    font-size: 14px;
  }

  .icon {
    margin-top: 13px;
  }
}

@media screen and (max-width: 479px) {
  a {
    font-size: 14px;
  }

  .section.project-page {
    height: 400px;
  }

  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .display-heading {
    margin-top: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 50px;
  }

  .display-heading.project-page {
    font-size: 41px;
  }

  .display-heading.project-page.lcs {
    font-size: 30px;
  }

  .display-heading.get-in-touch {
    font-size: 27px;
  }

  .hero-content-wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .hero-image-container {
    width: 100%;
  }

  .hero-caption {
    font-size: 12px;
  }

  .arts-council-logo-div {
    width: 90%;
  }

  .arts-council-logo-spacer-div {
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
  }

  .menu-button {
    margin-top: 20px;
  }

  .hero-heading-div {
    width: 90%;
  }

  .wrapper.projects.long {
    background-size: contain;
  }

  .paragraph {
    font-size: 12px;
  }

  .footer-div {
    background-color: #000c;
    padding-top: 10px;
    display: flex;
  }

  .footer-logo-div {
    width: 30%;
  }

  .h2-heading.projects {
    text-align: center;
  }

  .project-section-div {
    padding-top: 80px;
  }

  .project-paragraph-div {
    width: 100%;
  }

  .project-caption {
    font-size: 16px;
  }

  .hero-heading-div-project-page {
    width: 90%;
  }

  .project-page-section-div {
    padding-top: 0;
  }

  .project-page-paragraph-div {
    width: 100%;
    margin-top: 40px;
  }

  .project-page-text {
    font-size: 14px;
  }

  .insta-link-block {
    width: 13%;
  }

  .div-block {
    width: 1px;
  }

  .div-block-2, .div-block-3 {
    width: 115px;
  }

  .project-photo-link-block.project-page {
    width: 70%;
  }
}


